@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to clients page <a href="/Clients/Index">Click Here</a>.</p>
</div>
